.type-menu {
	position: fixed;
	top: 20%;
	right: 10%;
	width: 500px;
}

.item-button {
	list-style-type: none;
	
	padding: 30px;
	border: solid 1px lightgray;
	border-radius: 5px;
	background-image: linear-gradient(white, lightgray, white);
	height: 60px;
	width: 60px;
  
  display: inline-block;
	text-align: center;

	margin-right: 10px;
	margin-bottom: 10px;
}

.item-button:hover, .ui-selecting {
	border: solid 1px gray;
	cursor: pointer;
}

.ui-selected {
	border: solid 1px gray;
	background-image: none;
	background-color: white;
}
