.ui {
	position: fixed;
	top: 20%;
	right: 10%;
	width: 500px;
	background-color: black;
}

.type-menu {
	position: relative;
	display: flex;
	justify-content: space-around;
}

.type-button {
  border: none;
  background-color: black;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  width: 50%;

  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.type-button-selected {
	background-color: white;
	color: gray;
}

.type-button:hover {
  background-color: white;
  color: gray;
}

.category-menu {
	position: relative;
	overflow: auto;
}

.type {
	display: flex;
	justify-content: space-around;
}

.category-button {
  border: none;
  background-color: black;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  width: 33.3%;

  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.category-button-selected {
  background-color: white;
  color: gray;
}

.category-button:hover {
  background-color: white;
  color: gray;
}

.item-menu {
	position: relative;
}

.category {
	display: flex;
	flex-wrap: wrap;
}

.item-button {
	border: none;
  background-color: black;
  color: white;
  padding: 15px 15px;
  display: inline-block;
  min-width: 33.3%;

  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.item-button:hover {
  background-color: white;
  color: gray;
}

.hidden {
	display: none;
}
